*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background: black;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

input{
    padding: 10px;
    display: block;
    border: none;
    border-radius: 5px;
}

.buttons{
    margin-top: 10px;
}

button{
    padding: 5px;
    border-radius: 5px;
    background: lightgrey;
    border: none;
    cursor: pointer;
}

.activeButton{
    background: white;
}

button:active{
    background: white;
}

h1{
    color: white;
    margin-bottom: 0;
}

table{
    border: none;
    border-spacing: 0px 10px;
    color: white;
    padding: 10px;
    width: 600px;
}

th{
    text-align: left;
    border: none;
}

.tableHead{
    display: none;
}

.showTableHead{
    display: table-row;
    background: black;
}

tr{
    background: #202020;
}

td{
    padding: 7px;
    border: none;
}